body {
  display: table;
  width: 100%;
  font-family: 'Alegreya Sans SC', sans-serif;
}

section {
  background-color: #1ea2eb;
  color: white;
  text-align: center;
  display: table-row;
  min-width: 100%;
  height: calc(100vh - 50px);
}
section:nth-of-type(2n) {
  background-color: #983379;
}
section.hero {
  background-color: #bed600;
}
section h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 56px;
}

nav {
  height: 50px;
  width: 100%;
  background-color: #111;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav.sticky {
  position: fixed;
  top: 0;
}
nav li {
  display: inline-block;
  line-height: 50px;
  padding: 0 40px;
  border-right: 1px solid #1f1f1f;
  margin: 0;
}
